/* Google font - Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}




/* colours ************************/

:root {
  --main-color: #003367;
  --square-color: #0080ff; /* #0059b3 */
  --highlighted-color: #0073e6; /* #004c9a */
}

/* Typography *********************/
body {
  background: var(--main-color);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}

.square {
  font-size: 7rem;
  padding: 0.5em;
}

p {
  font-size: 1.5rem;
  padding: 0.8rem;
}



/* Layout *************************/

.container {
  /* max-width: 90%; */
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid red;
}

.tic {
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid green;
}

.row1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 1px solid brown;
}

.row2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row3 {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}


.square  {
  flex: 0 1 auto;
  width: 7rem;
  height: 7rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--square-color);
  margin: 0.1em;
  /* text-align: center; */
}

.square:hover {
  background-color: var(--highlighted-color);
  box-shadow: 0px 0px 8px 4px rgba(220, 220, 200, 0.8);
}

.square:active {
  box-shadow: 0px 0px 4px 2px rgba(220, 220, 200, 0.8);  /* transform: translateY(4px); */
}

div#winStatement {
  margin-top: 5px;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8em 0;
}

.scorebutton {
  padding: 0.2em 0.5em;
  margin: 0 20px;
  border-radius: 6px;
  color: var(--square-color);
  font-weight: bold;
  /* border: 4px solid var(--square-color); */
  }

  #reset {
    visibility: hidden;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #e60039;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-left: 5px;
    margin-top: 10px;
  }

  @media only screen and (max-width: 800px) {
    .container {
      max-width: 95%;
    }
    .square {
      width: 22%;
      height: 38%;
    }
  }
