/* Google font - Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}




/* colours ************************/

:root {
  --main-background-color: #003367;
  --square-color: #1717a7; /* #0080ff #0059b3 */
  --highlighted-color: #0073e6; /* #004c9a */
  --square-border: #0080ff; /* #feff02 */
  --win: #ff3333;
  --main-text: #fff;
}

/* Typography *********************/
body {
  /* background: var(--main-background-color); */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,167,1) 71%, rgba(0,136,255,1) 100%);
  color: var(--main-text);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.3rem;
  padding: 0.9em 0;
  margin: 0 auto;
  text-align: center;
}

.symbol {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  padding: 0.8rem;
}

#player {
  font-size: 1.6rem;
  padding: 1em;
  text-align: center;
}

.square {
  font-size: 5rem;
  padding: 0.5em;
}

.winannounce {
  color: var(--win);
  font-weight: bold;
}

/* Layout *************************/

.container {
  margin: 0 auto;
}

#scoreheading {
  text-align: center;
  padding: 0;

}

.tic {
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row1 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row2 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row3 {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.square  {
  flex: 0 1 auto;
  width: 6.5rem;
  height: 6.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--square-color);
  /* margin: 0.2em; */
}

.sq0 {
  border-bottom: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
}

.sq1 {
  border-bottom: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.sq2 {
  border-bottom: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.sq3 {
  border-bottom: 8px solid var(--square-border);
  border-top: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
}

.sq4 {
  border-bottom: 8px solid var(--square-border);
  border-top: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.sq5 {
  border-bottom: 8px solid var(--square-border);
  border-top: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.sq6 {
  border-top: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
}

.sq7 {
  border-top: 8px solid var(--square-border);
  border-right: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.sq8 {
  border-top: 8px solid var(--square-border);
  border-left: 8px solid var(--square-border);
}

.square:hover {
  background-color: var(--highlighted-color);
  border: 4px inset rgba(220, 220, 200, 0.8); /*#0080ff; */
  box-shadow: 0px 0px 8px 4px rgba(220, 220, 200, 0.8);
  transform: scale(0.9);
}

.square:visited {
  background-color: green;
}

div#winStatement {
  margin-top: 5px;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8em 0;
}

.scorebutton {
  font-size: 2.7rem;
  padding: 0.1em 0.8em;
  margin: 0 0.4em;
  border-radius: 6px;
  color: var(--square-color);
  font-weight: bold;
  background-color: #fff !important;
}

.modal {
  color: var(--main-background-color);
}

#reset {
  visibility: hidden;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff3333;
  padding: 20px;
  border-radius: 5px;
  display: block;
  border: none;
  margin: 30px auto;
  font-size: 1.3rem;
}

@media screen and (max-width: 900px) {
  .container {
    min-width: 95%;
  }
  h1 {
    padding: 1.5rem;
  }
}

 @media only screen
  and (min-device-width: 300px)
  and (max-device-width: 800px)
  and (orientation: landscape) {
    html {
      font-size: 50%;
    }
    .container {
    margin: 0 auto;

    /* padding: 20%; */
    /* background-color: green; */
    }
}
